# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
leet_code_test_project/.vs/leet_code_test_project/v16/.suo
leet_code_test_project/.vs/leet_code_test_project/v16/Browse.VC.db
leet_code_test_project/.vs/leet_code_test_project/v16/ipch/AutoPCH/57d856c1acc953c8/ALGORITHM_COMMON_TEMPLATE.ipch
leet_code_test_project/.vs/leet_code_test_project/v16/ipch/AutoPCH/a7178c37b9d86b65/LEET_CODE_TEST_PROJECT.ipch
leet_code_test_project/leet_code_test_project/leet_code_test_project.vcxproj.user
leet_code_test_project/leet_code_test_project/x64/Debug/leet_cod.ff4071cb.tlog/CL.command.1.tlog
leet_code_test_project/leet_code_test_project/x64/Debug/leet_cod.ff4071cb.tlog/CL.read.1.tlog
leet_code_test_project/leet_code_test_project/x64/Debug/leet_cod.ff4071cb.tlog/CL.write.1.tlog
leet_code_test_project/leet_code_test_project/x64/Debug/leet_cod.ff4071cb.tlog/leet_code_test_project.lastbuildstate
leet_code_test_project/leet_code_test_project/x64/Debug/leet_cod.ff4071cb.tlog/link.command.1.tlog
leet_code_test_project/leet_code_test_project/x64/Debug/leet_cod.ff4071cb.tlog/link.read.1.tlog
leet_code_test_project/leet_code_test_project/x64/Debug/leet_cod.ff4071cb.tlog/link.write.1.tlog
leet_code_test_project/leet_code_test_project/x64/Debug/leet_code_test_project.exe.recipe
leet_code_test_project/leet_code_test_project/x64/Debug/leet_code_test_project.ilk
leet_code_test_project/leet_code_test_project/x64/Debug/leet_code_test_project.log
leet_code_test_project/leet_code_test_project/x64/Debug/vc142.idb
leet_code_test_project/leet_code_test_project/x64/Debug/vc142.pdb
leet_code_test_project/x64/Debug/leet_code_test_project.pdb
leet_code_test_project/.vs/leet_code_test_project/v17/ipch/AutoPCH/f3ab3eb3f4846286/ALGORITHM_COMMON_TEMPLATE.ipch
leet_code_test_project/.vs/leet_code_test_project/v17/ipch/AutoPCH/ebb7792b56ba84b7/LEET_CODE_TEST_PROJECT.ipch
leet_code_test_project/.vs/leet_code_test_project/v17/ipch/AutoPCH/d10e4f090ada09a6/LEET_CODE_TEST_PROJECT.ipch
leet_code_test_project/.vs/leet_code_test_project/v17/Browse.VC.db
leet_code_test_project/.vs/leet_code_test_project/v17/.suo
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/read.lock
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/f1595b87-35ff-4e8e-a984-bc78ced975de.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/a1ff2f3d-ad35-4eaf-b67c-8dd846b6c859.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/3df9960b-6290-42f3-8514-a4513bc18e3b.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/0860a2b6-5ff9-4bb6-8819-5345f8cfee30.vsidx
leet_code_test_project/leet_code_test_project/x64/Debug/leet_code_test_project.obj.enc
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/431fdd1e-1fac-4ea2-bdac-39e9da88ad55.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/166b0d58-bb8c-4ff9-84b2-0001f55593ca.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/e67437cc-b9f6-49ea-b572-91519d97ec26.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/88dfa91d-c219-4bf5-bfdd-1ed08200123a.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/6adbb90b-367a-45c7-83a9-f4e15c6e875e.vsidx
leet_code_test_project/leet_code_test_project/data_example/example.txt
leet_code_test_project/.vs/leet_code_test_project/v17/Browse.VC.opendb
leet_code_test_project/.vs/leet_code_test_project/v17/Browse.VC.db-wal
leet_code_test_project/.vs/leet_code_test_project/v17/Browse.VC.db-shm
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/37a0f7a4-6c40-4cef-b924-f9f2f8d80b25.vsidx
leet_code_test_project/.vs/leet_code_test_project/FileContentIndex/a0fe86ea-7e72-4097-9db0-dba86a141155.vsidx
